main-font = "FunctionPro-Book", sans-serif
home-font = "FunctionPro-Book", sans-serif


font-small = 13px
body-font-size = 15px
body-font-size-lg = 18px

body-font-color = #444

goc-blue = #00abc6

sfc-blue = #125393
sfc-blue-border = #255ef7
sfc-blue-hover = #0C3864
sfc-blue-link = #2486e7
sfc-blue-dark = #125393
sfc-blue-transparent = #d0ecfd
sfc-blue-transparent-b = #d5ecfe
sfc-blue-transparent-c = #bcdcf4
sfc-blue-dark-border = #0d4378

sfc-blue-dark-text = #04294e

sfc-yellow = #f6a623
sfc-yellow-border = #c7800c
sfc-yellow-dark = #ffc564
tag-gold = #ffd064
tag-gold-border = #d5921e

yellow-border = #f5a623
bg-light-yellow = #fff7d5

outline-gray = #ced3e1
outline-dark-gray = #919fad
bg-gray = #fbfbfb
sfc-gray-dark = #657486

bg-dark-gray = #7C8897

bg-light-blue = #F9FAFF

success-green = #1ccc96
chart-green = #50dfa0
chart-green-border = #074b2d

chart-blue = #4cb5f8
chart-blue-border = #1b6391

text-gray = #a3a5ad
text-dark-gray = #464646
text-gray-light = #e3eaf3

chart-gray = #e8edf9
chart-gray-border = #627892

red-pop = #ff5033
red-border = #6d3628

urgent-red = #d1273e

chart-red = #f05b33
chart-red-border = #6d3628

transition-all-fast()
	-webkit-transition: all 100ms ease
	-moz-transition: all 100ms ease
	-o-transition: all 100ms ease
	transition: all 100ms ease

transition-all()
	-webkit-transition: all 200ms ease
	-moz-transition: all 200ms ease
	-o-transition: all 200ms ease
	transition: all 200ms ease

transition-all-four()
	-webkit-transition: all 400ms ease
	-moz-transition: all 400ms ease
	-o-transition: all 400ms ease
	transition: all 400ms ease

border-radius(radius = 4px)
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

border-bottom-radius(radius = 4px)
	-webkit-border-bottom-left-radius arguments
	-moz-border-bottom-left-radius arguments
	border-bottom-left-radius arguments
	-webkit-border-bottom-right-radius arguments
	-moz-border-bottom-right-radius arguments
	border-bottom-right-radius arguments

box-shadow-card(shadow =  0 2px 6px 0 rgba(101, 116, 134, 0.05))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important

box-shadow-card-big(shadow =  0 4px 6px 0 rgba(163, 165, 173, 0.08))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important


box-shadow-cb(shadow = inset 0 1px 2px 0 rgba(0, 0, 0, 0.08))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important

box-shadow-tb(shadow =  inset 0 1px 3px 0 rgba(167,189,211,0.1))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important

box-shadow-dd(shadow =  0 2px 4px 0 rgba(167,189,211,0.1))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important

box-shadow(shadow =  0 2px 6px 0 rgba(101, 116, 134, 0.1))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important

box-shadow-modal(shadow =  0 1px 10px 0 rgba(0, 0, 0, 0.4))
	-webkit-box-shadow: shadow!important
	-moz-box-shadow: shadow!important
	box-shadow: shadow!important
